# ===== Required =====
OWNER=CnzU...WsUj

# ===== Optional =====
RPC=https://api.devnet.solana.com
KEYPAIR=${HOME}/.config/solana/id.json

# Creation params
DECIMALS=5
INITIAL_SUPPLY=100000
MINT_TO_SOLFLARE=50000

# Metadata params
NAME=BONK
SYMBOL=BONK
URI=https://gist.githubusercontent.com/user/gist/raw/bonk.json

# Will be written by create_devnet_token.sh
# MINT=HbA...2pr
